/* import-attendance.component.scss */
::ng-deep .upload-drag-container .ant-upload.ant-upload-drag {
    background: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.3s;
    height: 200px;
    /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep .upload-drag-container .ant-upload.ant-upload-drag:hover {
    border-color: #40a9ff;
}

.ant-upload-drag-icon {
    font-size: 48px;
    color: #40a9ff;
    margin-bottom: 20px;
}

.ant-upload-text {
    font-size: 16px;
    color: #000000d9;
    margin: 0 0 4px;
}

.ant-upload-hint {
    font-size: 14px;
    color: #00000073;
}