<nz-card class="full-height">
  <div class="d-flex justify-content-between mb-2">
    <h6>Thiết lập người duyệt</h6>
  </div>
  <nz-table [nzData]="listOfData" [nzLoading]="loadingTable">
    <thead>
      <tr>
        <th>Phòng ban</th>
        <th>Người duyệt cấp 1</th>
        <th>Người duyệt cấp 2</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td>{{ data.department }}</td>
        <td>{{ data.approver1 }}</td>
        <td>{{ data.approver2 }}</td>
        <td>{{ data.status }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

