button[nz-button] {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 0px;

  span[nz-icon] {
    display: inline-flex;
    align-items: center;
  }
}

::ng-deep {
  .ant-modal-content {
    border-radius: 12px;
    overflow: hidden;
  }

  .ant-modal-header {
    border-radius: 12px 12px 0 0;
  }

  .ant-modal-confirm-btns {
    .ant-btn {
      border-radius: 8px;
    }
  }

  .ant-btn-primary {
    border-radius: 8px;
  }

  .ant-btn-default {
    border-radius: 8px;
  }
}

